@value variables: '../../variables.module.css';
@value primary-font-stack from variables;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  font-family: primary-font-stack;
}

.title {
  font-size: 28px;
  color: rgb(7, 50, 66);
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}
